extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box


        h1 #{data.projects[id].project_name}


        p #{data.projects[id].description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in data.projects[id].technologies
            
            li #{technology}     

        a.btn-link(href=`https://sofiamoshe.github.io/project-${id}/`, target="_blank") Live Demo
        
        a.btn-link(href=`https://github.com/SofiaMoshe/project-${id}/`, target="_blank") Git Hub
    .project-img-box.box

      
      img.project-img(src=`${data.projects[(id)].image_urls[0]}`, alt='')
      img.project-img(src=`${data.projects[(id)].image_urls[1]}`, alt='')


    nav.nav
      a(href='/')
        span &larr;
        |  Back
